.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 1px solid black;
}
.radioBox{
  display: flex;
  justify-content: space-between;
}
.checkBox{
  display: flex;
  flex-direction: column;
}