.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 1px solid black;
}
.radioBox{
  display: flex;
  justify-content: space-between;
}
.checkBox{
  display: flex;
  flex-direction: column;
}
.cardSize{
  width: 18rem;
}
.imgSize{
  width: 200px;
  height: 200px;
  padding: 1rem;
  margin: 0 2.5rem;
}
.price{
  display: none;
}
.headingColor{
  color: rgba(81, 5, 152, 0.698);
}
